<!DOCTYPE HTML>
<html lang="en-ru">
    <head>
        <meta charset="utf-8">
        <title>Not LUN</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16">
    </head>
    <body>
        <div class="container form-container">
            <form method="GET" action="/">
{#                {{ form.hidden_tag() }}#}
                <fieldset>
                    <div class="form-group">
                        {{ form.region.label(class='form-control-label') }}
                        {{ form.region(class='form-control form-control',
                           value=form.region.data) }}
                    </div>
                    <div class="form-group">
                        {{ form.price_min.label(class='form-control-label') }}
                        {{ form.price_min(class='form-control form-control',
                           value=form.price_min.data
                           if not form.price_min.data
                                in [default['price_min'], None] else '') }}
                    </div>
                    <div class="form-group">
                        {{ form.price_max.label(class='form-control-label') }}
                        {{ form.price_max(class='form-control form-control',
                           value=form.price_max.data
                           if not form.price_max.data
                           in [default['price_max'], None] else '') }}
                    </div>
                    <div class="form-group">
                        {{ form.rooms.label(class='form-control-label') }}
                        {{ form.rooms(class='form-control form-control',
                           value=form.rooms.data
                           if not form.rooms.data
                           in [default['price_min'], None] else '') }}
                    </div>
                    <div class="form-group">
                        {{ form.description.label(class='form-control-label') }}
                        {{ form.description(class='form-control form-control',
                           value=form.description.data) }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
            </form>
        </div>
        <div class="container card-grid">
            {% for d in data %}
                <div class="card">
                    <a class="card-title" href="{{ d[2]}}">{{ d[1] }}</a>
                    <div class="card-content">
                        <div class="card-descr">{{ d[3] }}</div>
                        <div class="card-rooms">{{ d[4] }}</div>
                        <div class="card-price">{{ d[5] }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <ul class="pager">
                <li><a href="/?page={{ page - 1}}{{ tail }}">Назад</a></li>
                <li><label>Страница {{ page }} из {{ pg_amt }}</label></li>
                <li><a href="/?page={{ page + 1}}{{ tail }}">Вперед</a></li>
            </ul>
        </div>
    </body>
</html>

